[submodule "steal"]
	path = steal
	url = https://github.com/jupiterjs/steal.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/jupiterjs/jquerymx.git
[submodule "documentjs"]
	path = documentjs
	url = https://github.com/jupiterjs/documentjs.git
[submodule "funcunit"]
	path = funcunit
	url = https://github.com/jupiterjs/funcunit.git
[submodule "jquery.dform"]
	path = jquery.dform
	url = https://github.com/daffl/jquery.dform.git
